h1 {
    padding: 5px;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#main {
    text-align: center;
    font-family: arial, sans-serif;
}

table {
    width: 90%;
    margin: 0pc auto;
    border-collapse: collapse;
    align: center;
    box-shadow: 2.5px 5px 4px #888888;
}

#rtkw {
    color: #4CAF50;
}

#table1 {
    text-align: center;
}

#table2 {
    text-align: center;
}

#table3 {
    text-align: center;
    padding-bottom: 10px;
}