{% include "top.html" %}

{% block content %}
    <title>Bills | pyTed</title>
    <div id="main" class="w3-mobile">
        <div class="w3-light-gray w3-center" style="padding:1px">
            <h1>Bills</h1>
        </div>
        <div class="w3-row">
            <div class="w3-center" style="padding: 10px">
            <h3>Previous 10 Bills</h3>
                <div class="table3">
                    <table>
                        <tr>
                            <th>Bill ID</th>

                            <th>Total Cost</th>

                            <th>Billing Date</th>
                        </tr>
                        {% for row in bills %}
                            <tr>
                                <td><a href="/billData?billid={{ row[0] }}"> {{ row[0] }} </a></td>
                                <td>$ {{ row[1] }} </td>
                                <td>{{ row[2] }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% include 'footer.html' %}
