{% include "top.html" %}
{% block content %}
<title>Bills | pyTed</title>
<h1>Billing </h1>
<div class="w3-row">
        <div class="w3-third w3-center">
            <p></p>
        </div>
<div class="w3-third w3-center">
            <h3>Power Costs</h3>
            <div class="table3">
                <table>
                    <tr>
                        <th>Type</th>
                        <th>Cost</th>
                    </tr>
                    <tr>
                        <td> Average Kwh per Day </td>
                        <td> {{ billData[0] }} Kwh</td>
                    </tr>
                    <tr>
                        <td> Peak Kwh Usage</td>
                        <td> {{ billData[1][0][0] }} Kwh on {{ billData[1][0][1] }}</td>
                    </tr>
                    <tr>
                        <td> Low Kwh Usage</td>
                        <td> {{ billData[1][0][2] }} Kwh on {{ billData[1][0][3] }}</td>
                    </tr>
                    <tr>
                        <td> Total Cost</td>
                        <td> $ {{ billData[2] }}</td>
                    </tr>
                </table>
            </div>
        </div>
</div>

{% endblock %}