{% block footer %}

   		<footer class="footer-distributed" id="footerPosition">

			<div class="footer-right">
				<a href="https://github.com/ch0ppy35/pyTed" target="_blank">
                    <img src="{{ url_for('static', filename='github.svg') }}">
                </a>
			</div>

			<div class="footer-left">

				<p class="footer-links">
					<a class="link-1" href="/">Home</a>
                    <a href="about">About</a>
				</p>
				<p>PyTed!</p>
			</div>

		</footer>

</body>
</html>
{% endblock %}
